<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>  
  {% load static %}
<title>
{% block title %}{% endblock title %}

</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://{% static 'fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'  %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'  %}">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/jquery-ui.css'  %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'  %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'  %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'  %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'  %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'  %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'  %}">

  <link rel="stylesheet" href="{% static 'css/aos.css'  %}">

  <link rel="stylesheet" href="{% static 'css/style.css'  %}">


</head>

  <body>

    {% include 'header.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}
    {% include 'scripts.html' %}

    {% block scripts %}
    {% endblock scripts %}
 
  </body>
</html>
