{% extends 'base.html' %}

{% load static %}
{% include 'preloader.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<br>
<br>



<section class="profile">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{{request.user.get_profile_picture}}" alt="" class="rounded rounded-circle profile-picture mb-4 ">
                    <div class="text-content mb-5">
                        <h4 >{{user.username}}</h4>
                        <h6>{{user.email}}</h6>

                        
          
                      </div>
                      <a type="submit" id="form-submit" class="main-button btn-primary" href="{% url 'profilechange' %}">Edit Profile </a>
                      <a type="submit" id="form-submit" class="main-button btn-primary" href="{% url 'profile' %}">Profile </a>


                    
                </div>
                </div>
            <div class="col-md-8 ">
                
                <div class="text-content">
                    <form action="{% url 'change_password' %}" method = "POST" class = "px-5">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="col-md-12 col-sm-12">
                              {% include 'message.html' %}
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <div class="alert">
                            <p class="text-danger">{{error}}</p>
                        </div>
                        {% endfor %}
                        {% endif %}


                        
                        <div class="form-group">
                            <label for="new_password">Type New Password</label>
                            <input type="password" class="form-control" name = "new_password" >
                            <p class = "py-1 text-danger error">{{form.new_password.errors}}</p>

                        </div>
                  
                        <div class="form-group mt-2">
                            <button type="submit" id="form-submit" class="main-button btn-primary">Update</button>
                        </div>
                        

                       
                   
                     
                    </form>
                    
      
                  </div>

            </div>
        </div>

    </div>
</section>

{% endblock content %}

